@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media only screen and (min-width: 300px) {
    #navbar {
    position: fixed;
    height: 100%;
    border-right: solid;
    border-color: black;
    left: 0px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 25px;
    font-weight: bold;
}

#main-doc header {
    padding-top: 20px;
}

#main-doc {
    margin-left: 340px;
}

#main-doc p, li, code {
    margin-left: 30px;
}

#navbar header {
    text-align: center;
    padding-top: 10px;
}

#navbar ul {
    list-style-type: none;
    padding: 15px;
    width: 300px;
}

#navbar li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#navbar li {
    border-top: 1px solid black;
    margin-left: -15px;
    width: 330px;
}

code {
    display: block;
    white-space: pre;
    background-color: #c9c9c9;
    padding: 10px;
}